---
---

@import "{{ site.theme }}";

.but {
    border: 1px  #AEB6BF;
    padding: 10px;
    border-radius: 8px;
}

.button {
  background-color: #EEEEEE;
  border: 1px #AEB6BF;
  color: #444444;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  border-radius: 4px;
}
 
